// .q-expansion-item__container .q-hoverable:hover .q-focus-helper {
//   border-radius: 5px;
// }

#menu-lateral {
  font-size: 13.5px;
}

#menu-lateral {
  .q-item {
    border-radius: 5px;
  }
}

#menu-lateral {
  .q-expansion-item__content {
    margin-left: 25px;
    margin-top: 10px;
    padding-left: 4px;
    border-left: 1px solid rgb(92, 89, 89);
  }
}
